.containers{ 
   justify-items: center;
    padding: 1%;
    flex-direction: row;
    align-items: center;
}

.padrecard{
  
 margin-left: 15%;
   display: flex;
   justify-items: center;
}

.relative{
    position: relative;
    z-index: 2;
    margin-top:  500px;
    font-size: 18px;
   text-align: right;
 justify-content:flex-end;
 margin-bottom: 200px;
 color: rgb(255, 255, 255);
 text-shadow: 2px 2px 4px black;
}
.contain{
    position: absolute;
    z-index: 1;
}
.boxgrey{

    background-color: gray;
    padding: 8%;
    object-fit: contain;
    margin-left:-3% ;
    font-size: 10px;
    color: aliceblue;
}
header{
    color:black;
    background-color: gray;
}
.navi{
  display: flex;
 margin-left: 250px;
align-content: space-between;
font-size: 10px;
justify-content: center;
}

.conf{
    margin-right: 5%;
    display:flex;
}

.mainhead{
    justify-content:right;
    margin-left: 5%;  
}

.navtext{
    margin-right: 5%;
}
.formu{
    text-align: center;
}

.dot{
    text-decoration: dotted;
}

.buton {
    background-color:rgb(161, 209, 89);
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    }
