.containers{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.boxgrey{

    background-color: gray;
    padding: 7%;
}
header{
    color:black;
    background-color: gray;
}
.navi{
  display: flex;
 margin-left: 250px;
align-content: space-between;
font-size: 10px;
justify-content: center;

}


